
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
  }
  
  .main-container{
    width:100vw;
    height:100vh;
   background-color:#f9f9f9;
   overflow: hidden;
   
  }
  
   .content{
     width:100%;
     height:100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transform: translateX(950px);
    transition: transform 0.8s ease;
   }
   span{
     color:#d1cbf7;
   }
   .form{
     margin: 0 auto;
     position: relative;
     
   }
     
   
  
   .second{
    width: 456px;
       height:58px;
       font-size: 16px;
       font-weight: 500;
       letter-spacing: 1px;
    background-color:rgb(0,199,250);
     border:1px solid rgb(0,199,250);
     color:white;
     border-radius: 5px;
     margin-left:30px;
     cursor: pointer;
   }
   
   form{
    width:535px;
     height:535px;
     background-color:white;
     border-radius:5px;
     margin-top: 15px;
     padding: 10px;
     position: relative;
   }
   h6{
     color:#dedede;
     font-size: 16px;
     font-weight: 700;
     text-align: center;
     padding-top: 20px;
   }
   form span{
     color: hsl(0, 100%, 74%) ;
   }
   input{
     width: 456px;
     height:54px;
     border:1px solid #dedede;
     border-radius: 5px;
     padding: 20px;
     display: flex;
    margin: 30px auto;
    outline:none;
    caret-color:rgb(97, 97, 97);
   }
   textarea{
    width: 456px;
    height:100px;
    border:1px solid #dedede;
    border-radius: 5px;
    padding: 20px;
    display: flex;
   margin: 30px auto;
   outline:none;
   caret-color:rgb(97, 97, 97);
   resize: none;

   }
   
   input[placeholder],textarea[placeholder]{
    color: #6a6a6c;
    font-size: 17px;
    font-weight: 500;
   }
   
   input:focus{
    border:1px solid rgb(0,199,250);
    box-shadow: 0px 0px 2px 3px rgb(225,245,250);
    transition: all 0.5s cubic-bezier(0.9, 0.25, 1, 0.35);
   }
   
   input:focus[placeholder]{
    font-weight:550;

   }
   button:hover {
    box-shadow: 0px 10px 20px -5px rgba(84,110,112,0.35);
    transition: all 0.5s ease-in-out;
}
   
  form:before{
    content:'';
    z-index: 1;
    width: 100%;
    height: 2%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: repeating-linear-gradient(-45deg,rgb(225,245,250) 10px  ,rgb(0,199,250) 20px);
   
   
  }

  .fa-remove {
    font-size: 2.2em;
    position: absolute;
    top: -30px;
    right: 6px;
    color:#ffff;
    cursor: pointer;
    font-weight: 500;
}
.fa-remove:hover{
color:hsl(0, 100%, 74%) ;
transition: all 0.5s ease;
}
aside{
  position: fixed;
  top:38vh;
  right: 18px;
  background-color:rgba(1, 204, 255, 0.81) ;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
}
aside .fa{
  color:white;
  font-size: 1.8rem;
  transition: all 0.2s step-end;
}